<div class="card mt-5">
    <div class="card-body">
        <form #historicoForm="ngForm" (ngSubmit)="onSubmit(historicoForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="historicoService.selectedHistorico.$key">
            <div class="form-group">
                <input 
                    type="text"
                    class="form-control"
                    name="id"
                    #id="ngModel"
                    [(ngModel)]="historicoService.selectedHistorico.id"
                    placeholder="Add Historic id"
                    >
            </div>

            <div class="form-group">
                <input 
                    type="text"
                    class="form-control"
                    name="distanciaFondo"
                    #distanciaFondo="ngModel"
                    [(ngModel)]="historicoService.selectedHistorico.distanciaFondo"
                    placeholder="Add Historic distanciaFondo"
                    >
            </div>

            <div class="form-group">
                <input 
                    type="text"
                    class="form-control"
                    name="distanciaTapa"
                    #distanciaTapa="ngModel"
                    [(ngModel)]="historicoService.selectedHistorico.distanciaTapa"
                    placeholder="Add Historic distanciaTapa"
                    >
            </div>

            <div class="form-group">
                <input 
                    type="text"
                    class="form-control"
                    name="peso"
                    #peso="ngModel"
                    [(ngModel)]="historicoService.selectedHistorico.peso"
                    placeholder="Add Historic peso"
                    >
            </div>

            <div class="form-group">
                <input 
                    type="text"
                    class="form-control"
                    name="fecha"
                    #fecha="ngModel"
                    [(ngModel)]="historicoService.selectedHistorico.fecha"
                    placeholder="Add Historic fecha"
                    >
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Add A Hisotric
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(historicoForm)">
                    <i class="fas fa-sync-alt"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>