<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header">
            <h1>TrashQube</h1>
        </div>
        <div class="card-body">
            <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>HISTORICO: </p>
                    </li>
                </ul>
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>Distancia Basura: {{cubo1.distanciaBasura}}</p>
                    </li>
                </ul>
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>Distnacia Tapa: {{cubo1.distanciaTapa}}</p>
                    </li>
                </ul>
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>Peso: {{cubo1.peso}}</p>
                    </li>
                </ul>
        </div>
        <div class="card-footer">
            <form action="/newQube" method="POST">
                <div class="form-group">
                    <input type="text" name="distanciaBasura" placeholder="distanciaBasura" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="distanciaTapa" placeholder="distanciaTapa" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="peso" placeholder="peso" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Add
                </button>
            </form>
        </div>
        <div class="card-footer">
            <form action="/getQube" method="GET">
                <button class="btn btn-primary btn-block">
                    REFRESH
                </button>
            </form>
        </div>
        <div class="card-footer">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            let myChart = document.getElementById('myChart').getContext('2d');

            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            let massPopChart = new Chart(myChart, {
            type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data:{
                labels:['Boston', 'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'],
                datasets:[{
                label:'Population',
                data:[
                    617594,
                    181045,
                    153060,
                    106519,
                    105162,
                    95072
                ],
                //backgroundColor:'green',
                backgroundColor:[
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
                }]
            },
            options:{
                title:{
                display:true,
                text:'Largest Cities In Massachusetts',
                fontSize:25
                },
                legend:{
                display:true,
                position:'right',
                labels:{
                    fontColor:'#000'
                }
                },
                layout:{
                padding:{
                    left:50,
                    right:0,
                    bottom:0,
                    top:0
                }
                },
                tooltips:{
                enabled:true
                }
            }
            });
        </script>
    </div>
</div>