<div class="card mt-5">
    <div class="card-body">
        <h6 class="text-center">List of Historics</h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let historico of historicList">
                    <td>ID: {{historico.id}}</td>
                    <td>Peso: {{historico.distanciaFondo}}</td>
                    <td>Peso: {{historico.peso}}</td>
                    <td>Fecha: {{historico.fecha}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(historico)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(historico.$key)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <canvas id="historicoFondo">{{ Historico }}</canvas>
        <canvas id="estadoCubo">{{ Estado }}</canvas>
    </div>
</div>